*
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MontaukRegular;
    src: url(../assets/Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: FugazOne;
    src: url(../assets/Montauk-Regular/JFugazOne-Regular.ttf);
}

body
{
    background-image: url(../assets/RestaurantMockupFiles/RestaurantMockupFiles/assets/bgtexture.jpg);
}

.montaukRegular
{
    font-family: Fugaz One,Regular;
    font-size: 25px;
    color: #5F002B;
}

.bgPowned
{
    background: none;
}

.decorationPowned
{
    text-decoration: none;
}

.listLeft
{
    position: absolute;
    right: 5%;
}

.logoRight
{
   padding-left: 100px;
}

.gridHere
{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, fr);
}

.containerPosition
{
    grid-column: 2 / 8;
}

.menuHeader
{
    background-color: white;
    color: #5F002B;
    display: flex;
    justify-content: center;
    font-family: FugazOne;
}

