/* Header of About Page */
@font-face{
    font-family: FugazOne;
    src: url('/assets/Montauk-Regular/FugazOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.woodBackground{
background-image: url(/assets/RestaurantMockupFiles/RestaurantMockupFiles/assets/bgtexture.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    height: auto;
    width: auto;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    gap:1.5em;
}
.buttonUnderline{
    text-decoration: none;
    color:#5F002B;
    font-family: 'FugazOne', sans-serif;
    font-size: 25px;
}
